<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adrian.pawsible">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dogs" />
        <activity
            android:name=".Schedules"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Test"
            android:label="test"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".dogtest"
            android:label="dogtest"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".OwnerList"
            android:label="ownerList"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>